<ion-view title="Register a lesson">
  <ion-content has-tabs="true">
    <div class="list list-inset">

      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="title">
      </label>

      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" ng-model="description">
      </label>

      <button
        ng-click="create(title, description)"
        ng-disabled="!title || !description"
        class="button button-positive button-block">
        Register
      </button>

    </div>
  </ion-content>
</ion-view>
