<ion-tabs class="tabs-icon-top tabs-default">

  <ion-tab icon="typcn typcn-calendar-outline" href="#/tab/lessons">
    <ion-nav-view name="lessons-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="typcn typcn-user-outline" href="#/tab/people">
    <ion-nav-view name="people-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="typcn typcn-plus-outline" href="#/tab/create">
    <ion-nav-view name="create-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="typcn typcn-th-menu-outline" href="#/tab/dev">
    <ion-nav-view name="dev-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
